.debug {
    background-color: #bbff87;
    border-color: #002fff;
}

html, body {
    height : 60px;
    width : 300px;
}

.reminder-text {
    font-size: xx-small;
    padding: 0;
    margin: -3px;
}

.no-padding {
    padding: 0;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align {
    display: flex;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
}

.justify {
    display: flex;
    justify-content: center;
}

.gap {
    display: flex;
    gap: 4px;
}

@keyframes copying {
    from {
        background-color: white;
    }
    10% {
        background-color: #e4e4e4;
    }
    to {
        background-color: white;
    }
}

.copying-animation {
    animation-name: copying;
    animation-duration: 0.3s;
}

input {
    width: 100%;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1;
    border-color: black;
    background-color: white;
    color: black;

    user-select:none;
    pointer-events: none
}

.generation-animation {
    animation: generation 0.3s infinite linear;
}

@keyframes generation {
    0% {
        border-image: linear-gradient(45deg, #000000, #000000, #ff6b6b) 1;
    }
    25% {
        border-image: linear-gradient(45deg, #000000, #ff6b6b, #f7b7a3) 1;
    }
    50% {
        border-image: linear-gradient(45deg, #ff6b6b, #f7b7a3, #6b8eff) 1;
    }
    75% {
        border-image: linear-gradient(45deg, #f7b7a3, #6b8eff, #000000) 1;
    }
    100% {
        border-image: linear-gradient(45deg, #6b8eff, #000000, #000000) 1;
    }
}


.p-1 {
    padding: 1px;
}

.p-2 {
    padding: 2px;
}

.p-3 {
    padding: 3px;
}

.p-4 {
    padding: 4px;
}

.p-5 {
    padding: 5px;
}

.p-6 {
    padding: 6px;
}

.p-7 {
    padding: 7px;
}

.p-8 {
    padding: 8px;
}

.p-9 {
    padding: 9px;
}

.p-10 {
    padding: 10px;
}

.m-1 {
    margin: 1px;
}

.m-2 {
    margin: 2px;
}

.m-3 {
    margin: 3px;
}

.m-4 {
    margin: 4px;
}

.m-5 {
    margin: 5px;
}

.m-6 {
    margin: 6px;
}

.m-7 {
    margin: 7px;
}

.m-8 {
    margin: 8px;
}

.m-9 {
    margin: 9px;
}

.m-10 {
    margin: 10px;
}
