.debug {
    background-color: #bbff87;
    border-color: #002fff;
}

html, body {
    height : 60px;
    width : 300px;
}

.reminder-text {
    font-size: xx-small;
    padding: 0;
    margin: -3px;
}

.no-padding {
    padding: 0;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align {
    display: flex;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
}

.justify {
    display: flex;
    justify-content: center;
}

.gap {
    display: flex;
    gap: 4px;
}

.align-left {
    display: flex;
    justify-self: left;
}

.text-display-wrapper .progress-bar-area {
    background-color: rgb(182, 182, 182);
    width: 5px;
    height: 100%;
}

.text-display-wrapper .progress-bar-area .progress-bar {
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 7px;
    border-radius: 1px;
}
.text-display-wrapper.select-1 .progress-bar-area .progress-bar {
    transform: translateY(0%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-2 .progress-bar-area .progress-bar {
    transform: translateY(88%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-3 .progress-bar-area .progress-bar {
    transform: translateY(177%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-4 .progress-bar-area .progress-bar {
    transform: translateY(266%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-5 .progress-bar-area .progress-bar {
    transform: translateY(355%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-1-no-anim .progress-bar-area .progress-bar {
    transform: translateY(0%);
    
}
.text-display-wrapper.select-2-no-anim .progress-bar-area .progress-bar {
    transform: translateY(88%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-3-no-anim .progress-bar-area .progress-bar {
    transform: translateY(177%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-4-no-anim .progress-bar-area .progress-bar {
    transform: translateY(266%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-5-no-anim .progress-bar-area .progress-bar {
    transform: translateY(355%);
    transition: transform 0.15s ease-in-out;
}
.text-display-wrapper.select-6-no-anim .progress-bar-area .progress-bar {
    transform: translateY(355%);
    transition: transform 0.15s ease-in-out;
}

@keyframes copying {
    from {
        background-color: white;
    }
    10% {
        background-color: #e4e4e4;
    }
    to {
        background-color: white;
    }
}

.copying-animation {
    animation-name: copying;
    animation-duration: 0.3s;
}

input {
    width: 100%;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1;
    border-color: black;
    background-color: white;
    color: black;

    user-select:none;
    pointer-events: none
}

.generation-animation {
    animation: generation 0.3s infinite linear;
}

@keyframes generation {
    0% {
        border-image: linear-gradient(45deg, #ccc, #ccc, #ff6b6b) 1;
    }
    25% {
        border-image: linear-gradient(45deg, #ccc, #ff6b6b, #f7b7a3) 1;
    }
    50% {
        border-image: linear-gradient(45deg, #ff6b6b, #f7b7a3, #6b8eff) 1;
    }
    75% {
        border-image: linear-gradient(45deg, #f7b7a3, #6b8eff, #ccc) 1;
    }
    100% {
        border-image: linear-gradient(45deg, #6b8eff, #ccc, #ccc) 1;
    }
}

.text-display-wrapper {
    position: relative;
    width: 180px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    font-family: sans-serif;

    user-select:none;
}

.input-1, .input-2, .input-3, .input-4, .input-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}


.text-display-wrapper.select-1 .input-1 {
    transform: translateY(0%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-1 .input-2 {
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-1 .input-3 {
    transform: translateY(200%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-1 .input-4 {
    transform: translateY(300%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-1 .input-5 {
    transform: translateY(400%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-1 .input-6 {
    transform: translateY(500%);
    transition: transform 0.15s ease-in-out;
}


.text-display-wrapper.select-2 .input-1 {
    transform: translateY(-100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-2 .input-2 {
    transform: translateY(0%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-2 .input-3 {
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-2 .input-4 {
    transform: translateY(200%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-2 .input-5 {
    transform: translateY(300%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-2 .input-6 {
    transform: translateY(400%);
    transition: transform 0.15s ease-in-out;
}


.text-display-wrapper.select-3 .input-1 {
    transform: translateY(-200%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-3 .input-2 {
    transform: translateY(-100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-3 .input-3 {
    transform: translateY(0%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-3 .input-4 {
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-3 .input-5 {
    transform: translateY(200%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-3 .input-6 {
    transform: translateY(300%);
    transition: transform 0.15s ease-in-out;
}


.text-display-wrapper.select-4 .input-1 {
    transform: translateY(-300%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-4 .input-2 {
    transform: translateY(-200%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-4 .input-3 {
    transform: translateY(-100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-4 .input-4 {
    transform: translateY(0%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-4 .input-5 {
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-4 .input-6 {
    transform: translateY(200%);
    transition: transform 0.15s ease-in-out;
}


.text-display-wrapper.select-5 .input-1 {
    transform: translateY(-400%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-5 .input-2 {
    transform: translateY(-300%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-5 .input-3 {
    transform: translateY(-200%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-5 .input-4 {
    transform: translateY(-100%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-5 .input-5 {
    transform: translateY(0%);
    transition: transform 0.15s ease-in-out;
}

.text-display-wrapper.select-5 .input-6 {
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out;
}




.text-display-wrapper.select-1-no-anim .input-1 {
    transform: translateY(0%);
}

.text-display-wrapper.select-1-no-anim .input-2 {
    transform: translateY(100%);
}

.text-display-wrapper.select-1-no-anim .input-3 {
    transform: translateY(200%);
}

.text-display-wrapper.select-1-no-anim .input-4 {
    transform: translateY(300%);
}

.text-display-wrapper.select-1-no-anim .input-5 {
    transform: translateY(400%);
}

.text-display-wrapper.select-1-no-anim .input-6 {
    transform: translateY(500%);
}


.text-display-wrapper.select-2-no-anim .input-1 {
    transform: translateY(-100%);
}

.text-display-wrapper.select-2-no-anim .input-2 {
    transform: translateY(0%);
}

.text-display-wrapper.select-2-no-anim .input-3 {
    transform: translateY(100%);
}

.text-display-wrapper.select-2-no-anim .input-4 {
    transform: translateY(200%);
}

.text-display-wrapper.select-2-no-anim .input-5 {
    transform: translateY(300%);
}

.text-display-wrapper.select-2-no-anim .input-6 {
    transform: translateY(400%);
}


.text-display-wrapper.select-3-no-anim .input-1 {
    transform: translateY(-200%);
}

.text-display-wrapper.select-3-no-anim .input-2 {
    transform: translateY(-100%);
}

.text-display-wrapper.select-3-no-anim .input-3 {
    transform: translateY(0%);
}

.text-display-wrapper.select-3-no-anim .input-4 {
    transform: translateY(100%);
}

.text-display-wrapper.select-3-no-anim .input-5 {
    transform: translateY(200%);
}

.text-display-wrapper.select-3-no-anim .input-6 {
    transform: translateY(300%);
}


.text-display-wrapper.select-4-no-anim .input-1 {
    transform: translateY(-300%);
}

.text-display-wrapper.select-4-no-anim .input-2 {
    transform: translateY(-200%);
}

.text-display-wrapper.select-4-no-anim .input-3 {
    transform: translateY(-100%);
}

.text-display-wrapper.select-4-no-anim .input-4 {
    transform: translateY(0%);
}

.text-display-wrapper.select-4-no-anim .input-5 {
    transform: translateY(100%);
}

.text-display-wrapper.select-4-no-anim .input-6 {
    transform: translateY(200%);
}


.text-display-wrapper.select-5-no-anim .input-1 {
    transform: translateY(-400%);
}

.text-display-wrapper.select-5-no-anim .input-2 {
    transform: translateY(-300%);
}

.text-display-wrapper.select-5-no-anim .input-3 {
    transform: translateY(-200%);
}

.text-display-wrapper.select-5-no-anim .input-4 {
    transform: translateY(-100%);
}

.text-display-wrapper.select-5-no-anim .input-5 {
    transform: translateY(0%);
}

.text-display-wrapper.select-5-no-anim .input-6 {
    transform: translateY(100%);
}


.text-display-wrapper.select-6-no-anim .input-1 {
    transform: translateY(-400%);
}

.text-display-wrapper.select-6-no-anim .input-2 {
    transform: translateY(-300%);
}

.text-display-wrapper.select-6-no-anim .input-3 {
    transform: translateY(-200%);
}

.text-display-wrapper.select-6-no-anim .input-4 {
    transform: translateY(-100%);
}

.text-display-wrapper.select-6-no-anim .input-5 {
    transform: translateY(0%);
}

.text-display-wrapper.select-6-no-anim .input-6 {
    transform: translateY(100%);
}


.p-1 {
    padding: 1px;
}

.p-2 {
    padding: 2px;
}

.p-3 {
    padding: 3px;
}

.p-4 {
    padding: 4px;
}

.p-5 {
    padding: 5px;
}

.p-6 {
    padding: 6px;
}

.p-7 {
    padding: 7px;
}

.p-8 {
    padding: 8px;
}

.p-9 {
    padding: 9px;
}

.p-10 {
    padding: 10px;
}

.m-1 {
    margin: 1px;
}

.m-2 {
    margin: 2px;
}

.m-3 {
    margin: 3px;
}

.m-4 {
    margin: 4px;
}

.m-5 {
    margin: 5px;
}

.m-6 {
    margin: 6px;
}

.m-7 {
    margin: 7px;
}

.m-8 {
    margin: 8px;
}

.m-9 {
    margin: 9px;
}

.m-10 {
    margin: 10px;
}
